* {
  box-sizing: border-box;
}

body {
  background: #121212;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Nunito', sans-serif;
  height: 38px;
  justify-content: space-between;
  margin: 0;
  padding: 0 10px;
}

#drag-region {
  -webkit-app-region: drag !important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#tabs {
  display: inline-flex;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding-top: 8px;
}

.tab {
  -webkit-app-region: no-drag !important;
  align-items: center;
  background-color: #3a3a3a;
  color: #9b9b9b;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Nunito', sans-serif;
  font-size: 10.5px;
  height: 30px;
  letter-spacing: -0.07px;
  line-height: 15px;
  max-width: 114px;
  min-width: 39px;
  overflow-y: auto;
  padding: 5px 21px 5px 3px;
  position: relative;
}

.tab:before {
  background-color: #fbc23c;
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: height 180ms ease-in-out;
  width: 100%;
}

.tab.active {
  background-color: #e7e7e7;
  color: #121212;
  font-weight: 900;
}

.tab.active:before {
  height: 3px;
}

.tab + .tab {
  padding-left: 4.5px;
}

.tab + .tab:after {
  background-color: #848484;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.5px;
}

.tab-content {
  flex: 1 1 auto;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab:hover .tab-exit {
  display: inline-block;
}

.tab-exit {
  -webkit-mask-image: url('../assets/layouts-close-circle.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background-color: #848484;
  cursor: pointer;
  display: none;
  height: 15px;
  position: absolute;
  right: 3px;
  width: 15px;
}

.tab-exit:hover {
  background-color: #df5353;
}

.tab-favicon {
  background-position: center;
  background-size: contain;
  display: inline-block;
  flex-shrink: 0;
  height: 15px;
  width: 15px;
}

#tabs-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.window-button {
  -webkit-app-region: no-drag !important;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background-color: #A7A7A7;
  cursor: pointer;
  display: inline-block;
  height: 17px;
  width: 17px;
}

.window-button + .window-button {
  margin-left: 2px;
}

.window-button:hover {
  background-color: #fbc23c;
}

#window-button-wrap {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  padding: 8px 0;
}

#window-button-options {
  -webkit-mask-image: url('../assets/layouts-kebab.svg');
}

#window-button-undock {
  -webkit-mask-image: url('../assets/layouts-undock.svg');
}

#window-button-minimize {
  -webkit-mask-image: url('../assets/layouts-minimize.svg');
}

#window-button-maximize {
  -webkit-mask-image: url('../assets/layouts-maximize.svg');
}

#window-button-maximize.restore {
  -webkit-mask-image: url('../assets/layouts-demaximize.svg');
}

#window-button-exit {
  -webkit-mask-image: url('../assets/layouts-close.svg');
}

#window-button-exit:hover {
  background-color: #df5353;
}
